/* --Колір заголовків - #212121 */
/* Колір лого - #000000 */
/* --Вторинний колір - #FFFFFF */
/* --Колір тексту - #757575*/
/* --Інтерактивний колір - #2196F3 */
/* --Колір фону первинний - #FFFFFF */
/* --Колір фону вторинний - #E5E5E5 */
/* --Колір фону третинний - #F5F4FA */
/* --Колір фону герой та футер - #2F303A */

/* transition: [property] [duration] [timing-function] [delay] */

:root {
    --primary-headlines-color: #212121;
    --secondary-text-color: #FFFFFF;
    --text-color: #757575;
    --interactive-color: #2196F3;
    --accent-color-shadow: #188ce8;
    --primary-bcg-color: #FFFFFF;
    --secondary-bcg-color: #E5E5E5;
    --trethiary-bcg-color: #F5F4FA;
    --hero-bcg-color: #2F303A;
    --overlay-color: rgba(47, 48, 58, 0.4);
    --secondary-overlay-color: rgba(47, 48, 58, 0.8);
    --icon-color: #AFB1B8;
    --form-border-color: rgba(255, 255, 255, 0.3);
    --form-text-color: rgba(255, 255, 255, 0.6);

    --font-family-primary: 'Roboto', sans-serif;

    --transition-duration: 250ms;
    --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
}

body {
    font-family: var(--font-family-primary);
    background-color: var(--primary-bcg-color);
    color: var(--primary-headlines-color);
    font-size: 14px;
    letter-spacing: 0.02em;
}

.container {
    margin-left: auto;  
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    /* outline: 2px solid tomato; */
}

.cursor {
    cursor: pointer;
}

.list {
    list-style: none;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-inline-start: 0px;
}
h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
}

.title {
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}

.current::after {
    content: '';

    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 2px;

    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--interactive-color);
}

/* Site-nav */

.nav { 
    display: flex;
    align-items: center; 
}

.site-nav {
    background-color: var(--primary-bcg-color);
    border-bottom: 1px solid #ECECEC;
}

.nav__list {
    display: flex;
    margin-left: 92px;
}

.site-nav .nav__item + .nav__item {
    margin-left: 50px;
}

.nav__link {
    position: relative;

    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--primary-headlines-color);
    text-decoration: none;
    line-height: 1.14;
    font-weight: 500;
}

.nav__address {
    display: flex;
    margin-left: auto;

}

.nav__data {
    display: flex;
    align-items: center;

    color: var(--text-color);
    text-decoration: none;
    line-height: 1.14;
    font-weight: 500;
    transition: color var(--transition-duration) var(--transition-timing-function);
}

.nav__icon {
    margin-right: 10px;
    fill: var(--text-color);
    transition: fill var(--transition-duration) var(--transition-timing-function);
}

.nav__link:hover,
.nav__link:focus,
.nav__data:hover .nav__icon,
.nav__data:focus .nav__icon {

    color: var(--interactive-color);
    fill: var(--interactive-color);
    transition: fill var(--transition-duration) var(--transition-timing-function),
        color var(--transition-duration) var(--transition-timing-function);
}

.site-nav .nav__list .current {
    color: var(--interactive-color);
}

/* Logo */

.logo {
    color: #000000;
    text-decoration: none;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.logo__color {
    color: var(--interactive-color)
}


/* Hero */

.overlay {
    max-width: 1600px;
    min-height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: 
    linear-gradient(
        var(--overlay-color),
        var(--overlay-color)),
    url("../images/img/hero-photo.jpg ");
    background-size: cover;
    background-position: center;
}

.hero {
    text-align: center;
    background-color: var(--hero-bcg-color);
}

.hero__box {
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero__title {
    color: var(--secondary-text-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.hero__button {
    display: inline-block;
    margin-top: 30px;
    width: 200px;
    height: 50px;

    color: var(--secondary-text-color);
    background-color: var(--interactive-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    border-color: transparent;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color var(--transition-duration) var(--transition-timing-function);
}

.hero__button:hover,
.hero__button:focus {
    background-color: var(--accent-color-shadow);
    transition: background-color var(--transition-duration) var(--transition-timing-function);
}


/* Sections */

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

/* Benefits */

.benefits {
    padding-bottom: 0;
}

.benefits__list {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.benefits__item {
    width: 270px;
}

.benefits__icon {
    display: flex;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;

    /* outline: 1px solid red; */
    background-color: var(--trethiary-bcg-color);
}

.benefits__svg {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 100px;
    margin-right: 100px;
}

.benefits__title {
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.benefits__text {
    color: var(--text-color);
    line-height: 1.71;
    letter-spacing: 0.03em;
}

/* What are we doing */

.job__list {
    display: flex;
    justify-content: center;
    gap: 30px;  
}

.job__item {
    position: relative;
}

.job__item::before {
    content: '';

    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70px;

    background-color: var(--secondary-overlay-color);

}

.job__label {

    position: absolute;
    left: 50%;
    bottom: 27px;
    transform: translate(-50%);
    

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-align: center;
    text-transform: uppercase;

    color: var(--secondary-text-color);
}



/* Our team */

.team {
    background-color: var(--trethiary-bcg-color);
    background-repeat: no-repeat;
    background-position: center;
}

.team__list {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.team__item {
    background-color: var(--primary-bcg-color);
    width: 270px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team__box {
    padding-top: 30px;
    padding-bottom: 30px;
}

.team__name {
    padding-bottom: 10px;

    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
    font-weight: 500;
}

.team__descridtion {
    color: var(--text-color);
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

.social {
    display: flex;
    justify-content: center;
    margin-top: 16px;
    margin-left: 32px;
    margin-right: 32px;
    gap: 10px;
}

.social__item {
    width: 44px;
    height: 44px;
}

.social__icon {
    display: flex;
    border-radius: 100%; 
    transition: background-color var(--transition-duration) var(--transition-timing-function);  
}

.social__svg {
    margin: 12px;
    width: 44px;
    fill: var(--icon-color);
    transition: fill var(--transition-duration) var(--transition-timing-function);
}

.social__icon:hover, .social__icon:focus,
.social__icon:hover .social__svg,
.social__icon:focus .social__svg {
fill: var(--secondary-text-color);
background-color: var(--interactive-color);
transition: fill var(--transition-duration) var(--transition-timing-function),
background-color var(--transition-duration) var(--transition-timing-function);
}

/* Our clients */

.client__list {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.client__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid var(--icon-color);
    border-radius: 0px 0px 4px 4px;
    transition: border var(--transition-duration) var(--transition-timing-function);
}

.client__svg {
    fill: var(--icon-color);
    transition: fill var(--transition-duration) var(--transition-timing-function);
}

.client__icon:hover .client__svg,
.client__icon:focus .client__svg {
    fill: var(--interactive-color);
    transition: fill var(--transition-duration) var(--transition-timing-function);
}

.client__icon:hover,
.client__icon:focus {
    border-color: var(--interactive-color);
    transition: border-color var(--transition-duration) var(--transition-timing-function);
}

/* Modal */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity var(--transition-duration) var(--transition-timing-function);
    z-index: 2;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    transition: opacity var(--transition-duration) var(--transition-timing-function),
    transform var(--transition-duration) var(--transition-timing-function),
    scale var(--transition-duration) var(--transition-timing-function);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);

    width: 528px;
    height: 581px;
    opacity: 1;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    transition: opacity var(--transition-duration) var(--transition-timing-function),
    transform var(--transition-duration) var(--transition-timing-function),
    scale var(--transition-duration) var(--transition-timing-function);

    background-color: var(--primary-bcg-color);
}

.form {
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;

}

.form__field {
    position: relative;

    display: flex;
    flex-direction: column;
    /* outline: 1px solid tomato; */
    margin-bottom: 10px;
}

.form__label {
    margin-bottom: 4px;

    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    color: var(--text-color);
}

.form__input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    transition: border var(--transition-duration) var(--transition-timing-function);
}

.form__text-area {
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border var(--transition-duration) var(--transition-timing-function);
}

.form__svg {
    position: absolute;
    top: 29px;
    left: 12px;
    transition: fill var(--transition-duration) var(--transition-timing-function);
}

.form__field:focus-within > .form__svg {
    fill: var(--interactive-color);
    transition: fill var(--transition-duration) var(--transition-timing-function);
}
 
.form__field:focus-within > input,
.form__field:focus-within > .form__text-area {
    outline: none;
    border: 1px solid var(--interactive-color);
    border-radius: 4px;
    transition: border var(--transition-duration) var(--transition-timing-function);
}

.form__checkbox {
    display: block;
    display: flex;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 14px;
    margin-right: 11px;

    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--text-color);
}

.form__checkbox-input {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.form__checkbox-svg {
    margin-top: auto;
    margin-bottom: auto;
    fill: transparent;
    border: 2px solid var(--primary-headlines-color);
    border-radius: 2px;
    display: inline-block;
    margin-right: 8px;
    transition: fill var(--transition-duration) var(--transition-timing-function),
    background-color var(--transition-duration) var(--transition-timing-function);
}

.form__policy {
    padding-left: 3px;
    color: var(--interactive-color);

    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}


.form__checkbox-input:checked + .form__checkbox-svg {
    fill: var(--secondary-text-color);
    background-color: var(--interactive-color);
    border: none;
    transition: fill var(--transition-duration) var(--transition-timing-function),
    background-color var(--transition-duration) var(--transition-timing-function);
}

.modal__button {
    position: absolute;
    top: 8px;
    right: 8px;
    
    border-radius: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 30px;
    height: 30px;
    background-color: var(--primary-bcg-color);
    transition: fill var(--transition-duration) var(--transition-timing-function);
}

.modal__button:hover,
.modal__button:focus {
    fill: var(--interactive-color);
    transition: fill var(--transition-duration) var(--transition-timing-function);
}


.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.modal__close-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.form__text {
    display: block;
    margin-bottom: 12px;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--primary-headlines-color);
}

.form__text-area {
    padding: 12px 16px;

    resize: none;
    width: 100%;
    height: 120px;
}

.form__submit {
    display: block;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    width: 200px;
    height: 50px;
    padding: 10px 55px;
    border-radius: 4px;
    border: none;
    color: var(--secondary-text-color);
    background-color: var(--interactive-color);
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.875;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px 0px hsl(0deg 0% 0% / 15%);
    transition: background-color var(--transition-duration) var(--transition-timing-function);
}

.form__submit:focus,
.form__submit:hover {
    background-color: var(--accent-color-shadow);
    transition: background-color var(--transition-duration) var(--transition-timing-function);
}

/* Footer */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: baseline
    
}

/* Footer logo */

.footer__logo {
    margin-bottom: 20px;

    color: var(--secondary-text-color);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.footer__logo-color {
    color: var(--interactive-color)
}

/* Contact */

.contact {

    color: var(--secondary-text-color);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-style: normal;
}

footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--hero-bcg-color);
    background-repeat: no-repeat;
    background-position: center;
}

.contact__address {
    display: inline-block;
    margin-top: 9px;

    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

/* Join */

.join {
    width: 206px;
}

.join__list {
    margin-top: 0;
}

.join__text {
    display: inline-block;
    margin-bottom: 20px;
    width: 206px;
    color: var(--secondary-text-color);

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.join__social {
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 100%;
    background-color: #44454E;
    transition: background-color var(--transition-duration) var(--transition-timing-function);
}

.join__svg {
    margin: 12px;
    fill: var(--secondary-text-color);
}

.join__social:hover,
.join__social:focus {
    background-color: var(--interactive-color);
    transition: background-color var(--transition-duration) var(--transition-timing-function);
}

/* Portfolio.html */

.no-gap {
    display: block;
}

/* Main portfolio */

.invisible {
    visibility: hidden;
}

/* Portfolio filter */

.filter {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    gap: 8px;
}

.filter__button {
    padding-top: 6px;
    padding-right: 22px;
    padding-bottom: 6px;
    padding-left: 22px;
    
    color: var(--primary-headlines-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    background: #F5F4FA;
    border-radius: 4px;
    border-color: transparent;
    transition: color var(--transition-duration) var(--transition-timing-function),
    background-color var(--transition-duration) var(--transition-timing-function);
}

.filter__button:hover,
.filter__button:focus {
    color: var(--secondary-text-color);
    background-color: var(--interactive-color);
    transition: color var(--transition-duration) var(--transition-timing-function),
    background-color var(--transition-duration) var(--transition-timing-function);
}

.card-set {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.card-set__filter {
    transition: box-shadow var(--transition-duration) var(--transition-timing-function);
}


.card-set__filter:hover .card-set__overlay {
    opacity: 1;
    transform: translateY(0);

    transition: transform var(--transition-duration) var(--transition-timing-function),
        opacity var(--transition-duration) var(--transition-timing-function);
}

.card-set__filter:hover {
    box-shadow:
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: box-shadow var(--transition-duration) var(--transition-timing-function);
}

.card-set__sub {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;

    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    background-color: var(--primary-bcg-color);
}

.card-set__box {
    position: relative;
    overflow: hidden;
}

.card-set__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--interactive-color);
    transform: translateY(100%);
    opacity: 0;

    transition: transform var(--transition-duration) var(--transition-timing-function),
    opacity var(--transition-duration) var(--transition-timing-function);

}

.card-set__text {
    padding-top: 63px;
    padding-bottom: 63px;
    padding-left: 24px;
    padding-right: 24px;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}

.card-set__subject {
    color: var(--primary-headlines-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.card-set__name {
    color: var(--text-color);
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
}

/* Subscribe-form */

.subscribe {
    flex-wrap: wrap;

}

.subscribe__text {
    margin-bottom: 20px;

    color: var(--secondary-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.subscribe__box {
    display: flex;
}

.subscribe__form {
    position: relative;

}

.subscribe__email {
    padding-left: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
    
    width: 358px;
    height: 50px;
    border: 1px solid var(--form-border-color);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    outline: none;
    color: var(--secondary-text-color);
}

.subscribe__button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 12px;
    width: 200px;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: transparent;
    background-color: var(--interactive-color);
    transition: background-color var(--transition-duration) var(--transition-timing-function);
}

.subscribe__button:hover,
.subscribe__button:focus {
    background-color: var(--accent-color-shadow);
    transition: background-color var(--transition-duration) var(--transition-timing-function);
}

.subscribe__button-text {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--secondary-text-color);

}

.subscribe__svg {
    margin-left: 10px;
    fill: var(--secondary-text-color);

}
